# Operating System Files
.DS_Store
Thumbs.db

# IDE Files
.vscode/
.idea/
*.swp

# Build Output
dist/
build/

# Node / Go / Flutter Temp Files
backend/uploads/*
!backend/uploads/.gitkeep
backend/.env
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
