# Binaries for SDKs and platforms
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Environment variables
.env

# Uploads directory
uploads/*
!uploads/.gitkeep

# IDE specific files
.idea/
.vscode/
*.swp
